{
  "presets": [["@babel/preset-env", { "targets": { "node": "4" } }]],
  "plugins": [
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-proposal-class-properties"
  ]
}
